#content {
/*	float: right;*/
/*	width: 540px; */
/*	width: 690px; */
/*	width: 720px; */
/*	width: 960px; */

float:none;
margin-left:-5px;
margin-right:20px;
/*margin-left:auto;
margin-right:auto;
align:center;*/
width: 925;
}

.post { 
	margin: 35px 35px 0px 0px; 
}
